.body{
    height: 100vh;
    width:100%;
    background-image:url('newbg.webp') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
.brand{
    color:white;
    font-size:60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.order{
    margin-top:150px;
}
.ordernow{
    color:white;
    letter-spacing:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.photoaboutus{
    float:right;
    height:50vh;
    width:50%;
}
.paras{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left:20%;
}
.parat{
    font-family:"italic";
    padding-left:12%;
    
}
.paraf{
    padding-left:15%;
    letter-spacing:8px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .centered {
    position: absolute;
    top: 250%;
    left:30%;
    transform: translate(-30%, -30%);
    
  }
  .teaimg{
    float:left;
    height:60vh;
    width:50%;
  }
  .menuimg{
    height: 100%;
    width:100%;
  
  }
  .menupara{
    position: absolute;
    top: 60%;
    left:32%;
    transform: translate(-10%, -30%);
    font-size: 60px;
    font-weight: 60px;
    color:rgb(151, 23, 23);
    letter-spacing:3px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:4px 4px rgb(247, 238, 201);
  }

 
.midimg1,.midimg2{ 
      float:left;
        width:33.33%;
        height:30%;
   }

  .menutable{
      color:white;
      font-size:30px;
      font-family:italic;
      text-align: center;
    }
    .menutablehead{
        font-size: 35px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color:greenyellow;
        
    }
.mainmenu{
  margin-top: 5%;
  margin-left: 10%;
  margin-right:10%
}
.tmenu0{    
    padding-right:105px;
    padding-bottom: 30px;
    align-items: 'center';
}
td{
    padding-bottom: 50px;

}
#pinkyth{
    color:rgb(236, 12, 221);
}
.imgcr13{
  height:120vh;
  width:100%;

}
.catertext{
    position:absolute;
    top:530%;
    left:20%;
    right:25%;
    color:white;
    font-weight: 800;
}
.cater1{
    font-size: 60px;

}
.cater2{
    font-family: cursive;
    font-size: 17px;
}

.cakeimg{
    float:right;
    height:55%;
    width:45%;
    padding-left:5%;
    padding-top:40px;
   
}
.lastsect{
    background-color: whitesmoke;
    padding-right:60px;
     padding-top:60px;
    padding-right:60px;
    
}
.lst1{
    font-size:20px;
    font-weight: 800;
    letter-spacing: 6px;
    padding-left:30%;
    padding-top:10%;

}

.lst2{
    font-size:40px;
    font-weight: 800;
    letter-spacing: 3px;
    padding-left:24%;
}
.lst3{
    font-size:16px;
    font-weight: 500;
    padding-left:15%;
}

.gallerybody{
    height:150vh;
    width:100%;
    background-image: url('cr17.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
.glrtag{
    position: absolute;
    color:white;
    font-size: 70px;
    font-weight: 800;
    top: 80%;
    left:20%;    
}

.glrintro{
    background-color: black;
    color:white;
    padding-left:30px;
}
.introimg{
    float:right;
    width:50%;
    height:70%;

}
.intro1{
    padding-top:3%;
    font-size: 40px;
    font-weight: 800;
}
.intro2{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.galleryimgs{
    width:33%;
    aspect-ratio: 3/2;

    
}
.cols:hover::before{
   padding-top:15px;
  }
